<div class="content-wrap content-wrap-cart">
  <div class="content content-cart">
    <div class="content-header-wrap">
      <div class="content-header">
        <h1 class="hx hx-l">Your Cart {% if cart.item_count > 0 %}({{ cart.item_count }} Item{% if cart.item_count > 1 %}s{% endif %}){% endif %}</h1>
      </div>
    </div>
    <section class="cart-wrap">
      <div class="cart">
      {% if cart.item_count == 0 %}

      <h3>Your Cart is empty, <a href="/collections/all">continue shopping?</a></h3>  

      {% else %} 
        <form action="/cart" method="post" id="cartform">
          <table class="table-cart">
             <tr>
               <th class="thumb">Item</th>
               <th>&nbsp;</th>
               <th class="price">Price</th>
               <th class="quantity">Quantity</th>
               <th>Total</th>
               <th>&nbsp;</th>
             </tr>
             {% for item in cart.items %}
             <tr>
              <td class="thumb">
                <img src="{{ item.product.images[0] | product_img_url: 'small' }}"/>
              </td>
              <td class="title">
                <a href="{{ item.product.url }}">{{ item.title }}</a><br />{{ variant.title }}
              </td>
              <td class="price">{{ item.line_price | money }}</td>
              <td class="quantity"><input type="text" size="2" name="updates[{{item.variant.id}}]" id="updates_{{item.variant.id}}" value="{{item.quantity}}"/></li></td>
              <td>{{ item.price | money }}</td>
              <td class="remove"><a href="/cart/change/{{ item.variant.id }}?quantity=0" >Remove</a></td>
             </tr>
             {% endfor %}
          </table>
          <div class="clearfix">
            <div class="checkout-wrap">
              <div class="checkout">
                <div class="subtotal">
                  <h4 class="hx hx-m">Subtotal: {{ cart.total_price | money }}</h4>
                </div>
                <div class="controls">
                  <div>
                    <button class="btn-alt" type="submit" value="Place Order" name="checkout">Check Out</button>
                  </div>
                  <div>
                  {% comment %}
                  {% if additional_checkout_buttons %}
                  <div class="checkout-details">
                     {{ content_for_additional_checkout_buttons | google_button_options: 'transparent' }}
                  </div>
                  {% endif %}
                  {% endcomment %}
                </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      {% endif %}
      </div>
    </section>
  </div>
</div>