<ul class="share">
  <li><a target="_blank" href="https://pinterest.com/pin/create/button/?url={{ share_link }}&media={{ share_image }}&description={{ share_desc }}" class="icon-pinterest"></a></li>
  <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ share_link }}" class="icon-facebook"></a></li>
  <li><a target="_blank" href="http://www.tumblr.com/share/link?url={{ share_link }}&name={{ share_title }}&description={{ share_desc }}" class="icon-tumblr"></a></li>
  <li><a target="_blank" href="https://plus.google.com/share?url={{ share_link }}" class="icon-gplus"></a></li>
  <li><a target="_blank" href="https://twitter.com/home?status={{ share_link }}" class="icon-twitter"></a></li>
</ul>

