<!doctype html>
<html dir="ltr" lang="en" class="no-js">
    <meta charset="utf-8" />
    <title>
    {% if template contains == 'index' %}
      {{ shop.name }}
    {% elsif template contains == '404' %}
      Page Not Found | {{ shop.name }}
    {% elsif template contains == 'product' %}
      {{product.title}} | {{ shop.name }}
    {% elsif template contains == 'collection' %}
      {{collection.title}} | {{ shop.name }} 
    {% else %}
      {{ page_title }} | {{ shop.name }}
    {% endif %} 
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

    {% if template == "product" %}
    <meta name="keywords" content="{% for tag in product.tags %} {{tag}} | {% endfor %}" />
    <meta name="description" content="{{ product.description | strip_html | truncate: 140 }}" />
    {% endif %}

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'apple-touch-icon-114x114-precomposed.png' | asset_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{shop.name}} | Blog" href="/blogs/news.atom" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ 'sitemap.xml' | asset_url }}" />
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/png" />

    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}" media="screen" />

    <link href='//fonts.googleapis.com/css?family=Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>

    <!-- give life to HTML5 objects in IE -->
    <!--[if lte IE 8]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
      
    {{ content_for_header }}
</head>

<body class="{{ template | replace: '.', ' ' | truncatewords: 1, '' }}" id="{{ page_title | handle }}">
    <!-- main content -->
    <div class="show-menu"></div>
    <header class="main-wrap">
      <div class="close-menu"></div>
      <div class="logo-wrap">
        <a href="{{ shop.url }}" class="logo">
          <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" />
        </a>
      </div>
      <section class="account-wrap">
        <nav class="account">
          <ul>
            <li>
              {% if customer %}Welcome <a href="/account">{{ customer.first_name }}</a>{% else %}{{ 'Login' | customer_login_link }}{% endif %}
            </li>
            <li><a href="/cart/">Cart {% if cart.item_count > 0 %}({{ cart.item_count }}){% endif %}</a></li>
          </ul>
        </nav>
      </section>
      <div class="menu-wrap">
        <nav class="menu">
          <ul>
            <li><a href="/collections/new">New In</a></li>
            <li><a href="{{ linklists.brands.links.first.url }}">Brands</a>
              <ul>
                {% for link in linklists.brands.links %}
                <li><a {% if link.active %} class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li>
              <a href="{{ linklists.collections.links.first.url }}">Collections</a>
              <ul>
                {% for link in linklists.collections.links %}
                <li><a {% if link.active %} class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="{{ linklists.categories.links.first.url }}">Category</a>
              <ul>
                {% for link in linklists.categories.links %}
                <li><a {% if link.active %} class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="{{ linklists.sale.links.first.url }}">Sale</a>
              <ul>
                {% for link in linklists.sale.links %}
                <li><a {% if link.active %} class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <ul>
            <li><a href="/pages/contact">Contact</a></li>
            <li>
              <a href="{{ linklists.info.links.first.url }}">Store Info</a>
              <ul>
              {% for link in linklists.info.links %}
              <li><a {% if link.active %} class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
              </ul>
            </li>
            <li>
              <form action="/search"><input type="text" name="q" placeholder="Search" /></form>
            </li>
          </ul>
        </nav>
      </div>
      <section class="social-wrap">
        <ul class="social">
          <li><a href="https://www.facebook.com/example" target="_blank" class="icon-facebook"></a></li>
          <li><a href="http://www.pinterest.com/example" target="_blank" class="icon-pinterest"></a></li>
          <li><a href="http://instagram.com/example" target="_blank" class="icon-instagram"></a></li>
        </ul>
      </section>
      <div class="newsletter-wrap">
        <a href="#newsletter">Newsletter</a>
        <form class="newsletter" action="https://example.us2.list-manage.com/subscribe/post-json?" method="get" >
          <div class="success">
              Thankyou for signing up!
          </div>
          <div class="error">
              Please check your email address is correct.
          </div>
          <input name="NAME" type="text" placeholder="Full Name" />
          <input name="EMAIL" type="text" placeholder="Email Address" />
          <button class="btn-alt" type="submit" value="Sign Up" name="submit">Sign Up</button>
        </form>
      </div>
    </header>

    {{ content_for_layout }}
    
<!-- site JS -->
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script src="{{ 'plugins.js' | asset_url }}"></script>  
<script src="{{ 'app.js' | asset_url }}"></script>  

</body>
</html>
